<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruanchao.robot">

    <application>

        <meta-data android:name="com.ruanchao.robot.RobotApplication" android:value="IModuleConfig"/>

        <activity android:name=".RobotMainActivity"/>

    </application>

</manifest>